@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
//@block_start_position: 100%;
.block {
  width: 100%;
  height: 100%;
  position: relative;
}
.opacity_text(@top, @left, @color) {
  position: absolute;
  font-size: 15vw;
  font-family: 'Roboto Condensed', sans-serif;
  color: @color;
  left: @left;
  top: @top;
}
.skills-block {
  .block;
  background: #11749e;
  display: flex;
  flex-wrap: wrap;
  //top: @block_start_position;

  .head {
    width: 100%;
    height: 30%;
    position: relative;
    text-align: center;

    p {
      .opacity_text(0, 27%, rgba(0, 0, 0, 0.05));
    }

    h1 {
      margin-top: 5%;
      font-family: 'Open Sans', sans-serif;
      color: white;
      font-size: 2vw;
    }
  }

  .programmer-skills {
    width: 50%;
    height: 100%;
    position: relative;

    .programmer {
      position: absolute;
      left: 40%;
      top: 100%;
      width: 30%;
      height: 35%;
    }

    .skills(@left, @top) {
      width: 15%;
      text-align: center;
      position: absolute;
      height: 17%;
      top: @top;
      left: @left;
      opacity: 0;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .html {
      .skills(65%, 5%)
    }
    .css {
      .skills(30%, 5%)
    }
    .js {
      .skills(25%, 45%);
      width: 22%;
      height: 20%;
    }
    .jquery {
      .skills(71%, 28%);
      height: 15%;
      width: 25%;
    }
    .webpack {
      .skills(66%, 46%)
    }
    .github {
      .skills(17%, 25%);
      height: 14%;
      width: 25%;
    }
  }
  .resume {
    width: 40%;
    height: 100%;
    text-align: center;
    position: relative;

    img{
      width: 50%;
      height: 50%;
      padding-top: 5%;
      padding-bottom: 20px;
      display: none;
    }

    .download_pdf {
      display: block;
      text-decoration: none;
      color: white;
      border: 2px solid white;
      border-radius: 10px;
      width: 25%;
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0 auto;
      font-size: 1.3vw;
      opacity: 0;
    }
  }

}

.portfolio_block {
  @standartfont: 'Architects Daughter', cursive;
  .block;
  background: url(../image/game/background.png) no-repeat;
  background-size: cover;
  display: flex;
  //top: @block_start_position;

  .game_for_you{
    .opacity_text(1%, 20%, rgba(182, 182, 182, 0.51));
    font-size: 9vw;
  }

  @background_black: rgba(124, 134, 190, 0.4);

  .game_rules {
    height: 60%;
    margin-top: 200px;
    color: white;

      h2 {
        font-family: @standartfont;
        color: white;
        text-align: center;
        font-size: 1.8vw;
      }
  }

  .choose_game {
    width: 20%;
    background: @background_black;
    .game_rules;
    margin-right: 5%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1%;

      .title_image{
        width: 100%;
        height: 35%;
        text-align: center;

          img{
            border-radius: 15px;
            cursor: pointer;
          }
      }

      .lines_title{
        .title_image;
      }

      .pairs_title {
       .title_image;
      }
  }

  .game-field-container {
    width: 50%;
    padding-top: 200px;
    text-align: center;
    font-family: @standartfont;
    color: white;

      .actions{
        font-size: 30px;

        div {
          margin-bottom: 8%;
          opacity: 0;
        }
        .arrow {
          width: 40%;
          height: 90px;
        }

        .right-arrow {
          img{
            transform: rotate(180deg);
          }
        }
      }
  }

  .rules {
    width: 30%;
    background: @background_black;
    .game_rules;
    margin-left: 5%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-family: @standartfont;
    color: white;
    padding: 10px;
    font-size: 1.2vw;
    text-align: center;
  }

  .games_info {
    position: absolute;
    width: 50%;
    height: 45px;
    background: @background_black;
    top: 100%;
    left: 20%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: @standartfont;
    color: white;

      .info{
        position: absolute;
        width: 100%;
        text-align: center;
        opacity: 1;
      }

      .github {
        position: absolute;
        top: 115%;
        left: 25%;
        opacity: 0;
        img{
          width: 50px;
          height: 20px;
          margin-left: 10px;
        }
      }
  }
}